body {
    background-color: rgba(253, 255, 252);  
}

/* Headings */

.name {
    font-family: 'Muli', sans-serif;
    font-weight: 200;
}

/* Navbar */

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-left: 0;
    margin-bottom: 10px;
    border: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}

.navbar-brand {
    color: #fafafa;
}

.navbar .navbar-toggler {
    border: 1px solid black;
    color: black;
}

.navbar .navbar-toggler-icon {
    color: black;
}

.navbar .navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

/* Images */

.county-image {
    margin-top: 70px;
}

/* Counties */

.counties {
    margin-right: 100px;
}

.county-image {
    border: solid 1px black;
    height: 120px;
    width: 120px;
}

/* Footer */

footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

.social-media-links {
    padding-top: 10px;
}