body {
    background-color: rgba(253, 255, 252);
    font-family: 'Roboto', sans-serif;
    /*font-family: 'Muli', sans-serif;*/
}

/* Headings */

/* Check where this is used */

/*.name {
    font-family: 'Muli', sans-serif;
    font-weight: 200;
}*/

.county-heading {
    margin: 100px 0 50px 0;
    text-align: center;
}

.county-title {
    margin-top: 30px;   
}

.contact-title {
    margin-top: 100px;
}

/* Navigation menu */

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-left: 0;
    margin-bottom: 10px;
    border: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}

.navbar-brand {
    color: #fafafa;
}

.navbar .navbar-toggler {
    border: 1px solid black;
    color: black;
}

.navbar .navbar-toggler-icon {
    color: black;
}

.navbar .navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

/* Images */

.county-image {
    border: solid 1px black;
    height: 120px;
    width: 120px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10%;
    margin-left: 50px;
}

.cafe-image {
    border: solid 1px black;
    height: 120px;
    width: 120px;
    margin-bottom: 20px;
    border-radius: 10%;
}

/* Cafe legend */

.cafe-legend {
    list-style-type: none;
    border: solid black 1px;
    padding-left: 5px;
}

/* Lists */

.cafe-legend li i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    padding-top: 10px;
}

/* Links */

.county-links {
    color: black;
}

a:link {
    text-decoration: none;
}

/* Counties */

.counties {
    margin: 10px;
}

p.county-text {
    margin-top: 15px;
    margin-bottom: 30px;
}

.welcome-text {
    text-align: center;
}

/* Buttons */

.btn {
    margin-bottom: 20px;
}

/* Google Maps Location */

.mapouter {
    position: relative;
    text-align: right;
    height: 200px;
    width: 200px;
    margin-bottom: 10px;
}

.gmap_canvas {
    overflow: hidden;
    background: none!important;
    height: 200px;
    width: 200px;
}

iframe {
    width: 100%;
    height: 100%;
    border: solid black 1px;
    border-radius: 5%;
}

/* Footer */

footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 10px;
    margin-top: 20px;
    margin: 0;
}

.social-media-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    padding-top: 10px;
}

#footer-info {
    padding-top: 20px;
}

/* Media Queries */

