body {
    background-color: rgba(253, 255, 252);  
}

/* Headings */

.name {
    font-family: 'Muli', sans-serif;
    font-weight: 200;
}

.county-title1 {
    margin-top: 100px;
}

.contact-title {
    margin-top: 100px;
}

/* Navigation menu */

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-left: 0;
    margin-bottom: 10px;
    border: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}

.navbar-brand {
    color: #fafafa;
}

.navbar .navbar-toggler {
    border: 1px solid black;
    color: black;
}

.navbar .navbar-toggler-icon {
    color: black;
}

.navbar .navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

/* Images */

.county-image {
    border: solid 1px black;
    height: 120px;
    width: 120px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10%;
}

.cafe-image {
    border: solid 1px black;
    height: 120px;
    width: 120px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10%;
}

/* Cafe links */

.cafe-has-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    margin-bottom: 5px;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    padding-top: 10px;
}

/* Lists */

.cafe-has-links {
    list-style-type: none;
}

/* Counties */

.counties {
    margin-right: 100px;
}

.county-text {
    margin-bottom: 30px;
}

/* Buttons */

.btn {
    margin-bottom: 20px;
}

/* Footer */

footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 10px;
    margin-top: 20px;
}

.social-media-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    padding-top: 10px;
}

#footer-info {
    padding: 20px;
}

/* Media Queries */

@media(min-width: 992px) {
    .center-form {
        padding: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}